:root {
  /* See README for where Color Palette inspiration came from*/
  --dkcolor1: #46494C;
  --dkcolor2: #4C5C68;
  --dkcolor3: #1985A1;
  --ltcolor1: #DCDCDD;
  --ltcolor2: #C5C3C6;
}

/* CSS Related to portfolio photo and h1 header */
header {
  background-color: var(--dkcolor2);
  text-align: center;
}

header img {
  width: 30%;
  margin: 20px;
  object-fit: cover;
  border: 10px solid var(--ltcolor1);
  border-radius: 50%;
  position: relative;
  top: 100px;
}

h1 {
  padding: 90px 0px 10px 0px;
  background-color: var(--ltcolor1);
  font-size: 3rem;
}

/* CSS Related to Nav Bar Section */
nav {
  background-color: var(--ltcolor1);
  padding: 5px;
  border-bottom: 3px solid var(--dkcolor2);
}

nav ul {
  display: flex;
  padding: 20px 25% 20px 25%;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: var(--dkcolor1);
  font-size: 2rem;
}


/* Sizing all h2 headers (About Me, Work, and Contact Me) */
h2 {
  font-size: 3rem;
  padding: 2rem 16% 2rem 16%;
}

/* CSS related specifically to About Me */
#about-me p {
  font-size: 1.2rem;
  padding: 0rem 16% 3rem 16%;
  border-bottom: 3px solid var(--dkcolor2);
}

/* The following target project cards and their content from the 'Work' section*/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 3px solid var(--dkcolor1);
  margin: 1%;
  width: 33%;
  overflow: hidden;
  position: relative;
  background-color: black;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.5;
  transform: scale(1.2);
}

/* Makes card become lighter. See acknowledge section of the README to find where this inspiration came from */
.card img:hover {
  opacity: 1;
  transform: scale(1.00);
  transition: 0.6s;
}

/* Puts text overlaid on photos */
.card-text {
  position: absolute;
  bottom: 5%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--ltcolor1);
}

.card-text h3,
.card-text p {
  text-align: left;
}

/* Makes the priority project larger then the rest (in PC or tablet view) */
#priority {
  width: 68%;
}

/* Contact Me Related CSS */
#contact-info {
  color: var(--ltcolor1);
  background-color: var(--dkcolor2);
  border-top: 8px solid var(--dkcolor3);
  margin-top: 20px;
}

#contact-info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0% 16% 3rem 16%;
  font-size: 1.2rem;
}

#contact-info a {
  text-decoration: none;
  color: var(--ltcolor1);
}




/* media query for tablets */
/* Removes the hover function */
/* Increase profile photo size */
/* Reduce padding to left and right of nav bar */
@media screen and (max-width: 768px) {
  header img {
    width: 50%
  }

  .card img {
    opacity: 1;
    transform: scale(1);
  }

  nav ul {
    padding: 20px 15% 20px 15%;
  }

}

/* media query for phone screens */
/* Increase profile photo size */
/* Decrease font-sizes (expect for <p> */
/* Change nav bar, projects, and contact me to be verticle */
/* Priority project is no longer larger */
@media screen and (max-width: 425px) {
  header img {
    width: 75%;
  }

  h1,
  h2 {
    font-size: 2rem;;
  }

  nav ul {
    flex-direction: column;
    padding: 10px;
  }

  nav ul li {
    padding: 0.5rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  .card {
    width: 68%;;
  }

  #contact-info ul {
    flex-direction: column;
  }

  #contact-info ul li {
    padding-bottom: 8px;
  }

}
