:root {
  /* See README for where Color Palette inspiration came from*/
  --dkcolor1: #46494C;
  --dkcolor2: #4C5C68;
  --dkcolor3: #1985A1;
  --ltcolor1: #DCDCDD;
  --ltcolor2: #C5C3C6;
}

header {
  background-color: var(--dkcolor2);
  text-align: center;
}

header img {
  width: 30%;
  margin: 20px;
  object-fit: cover;
  border: 10px solid var(--ltcolor1);
  border-radius: 100%;
  position: relative;
  top: 100px;
}

h1 {
  padding: 90px 0px 10px 0px;
  background-color: var(--ltcolor1);
  font-size: 3rem;
}

nav {
  background-color: var(--ltcolor1);
  padding: 5px;
}

nav ul {
  display: flex;
  padding: 20px 20% 20px 20%;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: var(--dkcolor1);
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  padding: 2rem 3rem 2rem 3rem;
}

#about-me p {
  font-size: 1.2rem;
  padding: 0rem 3rem 0rem 3rem;
}

/* The following target project cards and their content from the 'Work' section*/
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 3px solid var(--dkcolor1);
  margin: 1%;
  width: 33%;
  overflow: hidden;
  position: relative;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-text {
  position: absolute;
  bottom: 5%;
  padding: 2%;

  background-color: var(--dkcolor1);
  color: var(--ltcolor1);
}

.card-text h3,
.card-text p {
  text-align: left;
}

/* Makes the priority project larger then the rest (in PC or tablet view) */
#priority {
  width: 68%;
}